html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

.logo {
    background-image: url(../logo.jpg);
    background-position-y: -20px;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   background-color: #363636;
}

.pointer-simple {
    cursor: context-menu;
}

.is-circle {
    border-radius: 50%;
}

.is-borded {
    border: 15px solid #202020;
}
