html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   background-color: #363636;
}

.pointer-simple {
    cursor: context-menu;
}

.is-circle {
    border-radius: 290486px;
}

.is-borded {
    border: 15px solid #202020;
}
